#registrationInputsDiv {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

#app {
  display: none;
}
input {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 4px;
}

.true:focus {
  border-color: green;
}
.false:focus {
  border-color: green;
}

input:focus {
  outline: #ccc;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px 0;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
